.center-div {
  padding: 3vh 8vw;
}

p {
  font-family: 'Roboto', sans-serif;
  color: black;
  line-height: 1.6;
  font-size: 1.5vw;
}

h1 {
  font-size: 4vw;
  color: #4B0082;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h2, h3 {
  font-size: 3vw;
  color: #4B0082;
  font-family: 'Montserrat', sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.info {
  padding: 10px;
  flex: 60%;
}

.image {
  padding: 10px;
  flex: 35%;
}

@media screen and (min-width: 2000px) {
  .center-div {
    padding: 2vh 7vw;
  }
  p {
    font-size: 1.9vw;
  }
}

@media screen and (min-width: 601px) {
  .center-div {
  padding: 2vh 6vw;
  }
  p {
    font-size: 1.4vw;
  }
}

img {
  width: 100%;
}

#border {
  border: solid #ffd700 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 600px) {
  .flex-container {
    flex-direction: column;
  }
}

/* Slideshow container */
.slideshow-container {
  max-width: 2000px;
  position: relative;
  margin: auto;
  max-height: 1000px;
  border: solid 3px #ffd700;
}

a#link {
  color: black;
}

a#link:hover {
  color: #ffd700;
}
